{% block content %}

<h1 class="text-center mb-4" style="font-family: Constantia;">
    Checkout
</h1>

<div class="row justify-content-center">
    <div class="col-md-6">

        <form action="{% url 'finalizar_pedido' %}" method="POST">
            {% csrf_token %}

            <label class="form-label">Nome completo</label>
            <input type="text" name="nome" class="form-control mb-3" required>

            <label class="form-label">Endereço</label>
            <input type="text" name="endereco" class="form-control mb-3" required>

            <label class="form-label">Telefone</label>
            <input type="text" name="telefone" class="form-control mb-3" required>

            <label class="form-label">Forma de pagamento</label>
            <select name="pagamento" class="form-select mb-4" id="pagamento-select" required>
                <option value="PIX">PIX</option>
                <option value="Cartão">Cartão</option>
            </select>

            <div id="cartao-info" style="display:none;">
                <label class="form-label">Número do cartão</label>
                <input type="text" name="numero_cartao" class="form-control mb-3">

                <label class="form-label">Validade</label>
                <input type="text" name="validade" class="form-control mb-3">
            </div>

            <button type="submit" class="btn btn-primary w-100">
                Finalizar Pedido
            </button>

        </form>

    </div>
</div>

<script>
document.getElementById('pagamento-select').addEventListener('change', function () {
    const cartaoInfo = document.getElementById('cartao-info');
    if (this.value === 'Cartão') {
        cartaoInfo.style.display = 'block';
    } else {
        cartaoInfo.style.display = 'none';
    }
});
</script>

{% endblock %}
